.shopeeMall {
  background-color: rgb(var(--white));
  margin-bottom: 1.5em;
}
.shopeeMall__header {
  padding: 1.2em 0;
}

.shopeeMall__padding--horizontal {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.shopeeMall__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(var(--primary));
}
.shopeeMall__title::after {
  content: "";
  border: 1px solid rgb(var(--main-border));
  margin: 0 1em;
}
.shopeeMall__advertising {
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
}
.shopeeMall__advertising:not(.shopeeMall__advertising:last-child) {
  margin-right: 1em;
}

.shopeeMall__advertising_icon {
  width: 17px;
  height: 17px;
  margin-right: 0.2em;
}
.shopeeMall__items {
  display: flex;
}

.shopeeMall__items__list {
  display: flex;
  overflow-x: scroll;
  flex: 1;
}
.shopeeMall__items__list::-webkit-scrollbar {
  height: 8px;
  background-color: white;
  box-shadow: inset 0 0 8px 12px rgba(var(--black), 0.15);
  border-radius: 30px;
}

.shopeeMall__items__list::-webkit-scrollbar-thumb {
  background-color: rgba(var(--black), 0.2);
  border-radius: 15px;
}
.shopeeMall__items__list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--black), 0.35);
}

.shopeeMall_see_all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-size: 1.3rem;
  text-decoration: none;
  color: rgb(var(--primary));
}
.shopeeMall__see_all_arrow_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--primary));
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 0.4em;
}

.shopeeMall__see_all_arrow {
  width: 10px;
  height: 10px;
  fill: rgb(var(--white));
  transform: rotateZ(-90deg);
}
@media screen and (max-width: 768px) {
  .shopeeMall__title {
    display: block;
    margin-bottom: 0.5em;
  }
  .shopeeMall__title::after {
    display: none;
  }

  .shopeeMall__advertising {
  }

  .shopeeMall__items {
    display: block;
  }
  .shopeeMall__advertising {
    margin-bottom: 0.5em;
    text-align: center;
  }
  .shopeeMall__images--bosch {
    width: 100%;
    object-fit: cover;
  }
  .shopeeMall__items__list {
    padding: 1.5em;
    column-gap: 2em;
  }
}
