.main {
  background-color: rgb(var(--main));
  margin-top: 2em;
  border: 2px solid rgb(var(--main-border));
  border-left: 0;
  border-right: 0;
  max-width: inherit;
  padding-bottom: 5em;
}
.main__banner {
  width: 100%;
  margin-top: 1.5em;
}
