.shocking_sale {
  background-color: rgb(var(--white));
  padding-bottom: 1em;
}
.shocking_sale__title {
  height: 20px;
}

.shocking_sale__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 1.5em;
  margin-bottom: 1em;
}

.header__browser_all {
  cursor: pointer;
}

.shocking_sale__icon--right_arrow {
  display: inline-block;
  height: 10px;
  width: 10px;
  transform: rotateZ(-90deg);
  margin-left: 0.3em;
}
.shocking_sale__items {
  position: relative;
}

.shocking_sale__arrows {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  height: 30px;
  width: 30px;
  background-color: rgb(var(--white));
  border-radius: 50%;
  box-shadow: 0 2px 9px 2px rgba(var(--black), 0.3);
  transition: height 300ms, width 300ms;
  cursor: pointer;
  z-index: 2;
}

.shocking_sale__arrows--left {
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}

.shocking_sale__arrows--right {
  right: 0;
  transform: translateX(50%) translateY(-50%);
}

.shocking_sale__items_wrapper::-webkit-scrollbar {
  display: none;
}
.shocking_sale__items_wrapper {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  padding: 0 1.5em;
  gap: 35px;
}
.shocking_sale__items_arrow {
  width: 10px;
  height: 10px;
  transition: height 300ms, width 300ms;
}
.shocking_sale__items_arrow--left {
  transform: rotateZ(90deg);
}
.shocking_sale__items_arrow--right {
  transform: rotateZ(-90deg);
}
.shocking_sale__items:hover .shocking_sale__arrows {
  height: 45px;
  width: 45px;
}

.shocking_sale__items:hover .shocking_sale__items_arrow {
  height: 20px;
  width: 20px;
}
