.item {
  display: block;
  position: relative;
  height: 240px;
  width: 200px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.item > span {
  position: absolute;
  width: 100%;
  font-size: 1.3rem;
  bottom: 0.7em;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
  .item {
    width: 150px;
    height: 190px;
  }
}
