@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary: 251, 100, 69;
  --inactive: 237, 237, 237;
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --main: 241, 238, 238;
  --main-border: 230, 227, 227;
  --text-secondary: 145, 143, 143;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
